/* SECTIONS + GRIDS */

.col1-container {	/* for just a title and words */

	background: #FBD586;	/* for just a title and words */

	border-radius: 0.3rem;	/* for just a title and words */

	padding-top: 0;	/* for just a title and words */

	padding: 1.5rem;;;;;;;;

}

.grid-container {

	display: flex;

	justify-content: center;

	flex-wrap: wrap;

	margin-right: -2rem;

}

iframe {
	display: flex;
	flex: 1 1 0;
	width: 100%;
}

.col4 {

	text-align: center;

	border-radius: 0.3rem;

	background: #FBD586;

	min-width: 20rem;

	padding: 2rem 0;

	margin-right: 2rem;

	margin-bottom: 2rem;

	align-items: center;

	flex: 1;

}

.col4-grouping {	/* for just a title and words */

	flex-direction: row;	/* for just a title and words */

	display: flex;	/* for just a title and words */

	flex-wrap: wrap;	/* for just a title and words */

	justify-content: center;

}

.col3-container {

	justify-content: center;

	display: flex;

	margin-right: -2rem;;

}

.col3-container > h2 {

	flex: 1 1 100%;

}

.col3 {

	text-align: center;

	border-radius: 0.3rem;

	background: #FBD586;

	padding: 2rem 0;

	margin-right: 2rem;

	display: flex;

	margin-bottom: 2rem;

	flex-direction: column;

	min-width: 350px;

	align-items: center;

}

.col3 .button {	/* for just a title and words */

	margin-top: auto;

	margin-bottom: 0rem;

}

.col2-container {

	display: flex;

	flex-wrap: wrap;

	padding: 1.5rem;

	background: #FBD586;

	padding-top: 0;

	flex-grow: 1;

	border-radius: 0.3rem;

}

.col2-container-padding-top {

	display: flex;

	flex-wrap: wrap;

	padding: 1.5rem;

	background: #FBD586;

}

.col2-container > h2 {

	flex: 0 0 100%;

}

.col2 {

	flex: 1;

}

.col2 p {

	min-width: 14rem;

}

.col2 ~ .col2 {

	flex: 1;

	margin-right: 0;

	margin-left: 2rem;

}

.col2-margin-right {

	margin-right: 2rem;

	flex-direction: column;

	display: flex;

	flex: 1;

}

.image-container {

	display: flex;

	flex-wrap: wrap;

	padding: 1.5rem;

	background: #FBD586;

}

.image-item {

	display: flex;

	flex: 1;

	height: 400px;

	width: 100%;

	justify-content: center;

}

.content-care-img {

	height: auto;

	max-width: 100%;

	min-width: 300px;;

}

.content-bees-img {

	object-fit: cover;

	width: 100%;

	height: 200px;

}

.content-bees-description {

	text-align: left;

	padding: 0 2rem;

	margin-bottom: 2rem;

}

.flex-wrap {

	display: flex;

	flex-wrap: wrap;

}

form {

	justify-content: space-around;

	align-content: center;

	display: flex;

}

.flex-row {

	margin-bottom: 1rem;

	display: flex;

	flex-flow: row wrap;;;;;;;;;

}

.half-field {	/* for just a title and words */

	flex: 0 calc(100% / 2 - 1rem);

}

.third-field {

	flex: 0 calc(100% / 3 - 1rem);

}

.full-field {

	flex: 0 100%;

}

.auto-field {

	flex: 0 auto;

}

.adopt-intro {
}


.order-summary {	/* for just a title and words */

	justify-content: flex-start;;

}

/* MEDIA QUERY + RESPONSIVE */



@media (max-width: 1920px) {

	.adopt.listing .adopt-progress {

		margin-bottom: initial;

		left: 0;

		min-height: auto;

		position: static;

		padding: 1rem 0 0.5rem 0;

		align-self: stretch;

		overflow: auto;

	}

	.adopt.listing .adopt-progress .side-nav {

		flex-direction: row;

		white-space: nowrap;;

	}

	.adopt.listing .adopt-progress h4 {

		font-size: 1.1rem;

		font-weight: 500;

	}

	.adopt.listing .adopt-progress ol {

		display: inline-flex;

		padding: 0 1rem;

		margin: 0;;;

	}

	.adopt.listing .adopt-progress ol li::before {	/* for just a title and words */

		font-size: 1.1rem;	/* for just a title and words */

		width: 1.1rem;	/* for just a title and words */

		margin-left: 0.2rem;;;;

	}

	.adopt.listing .adopt-progress ol li::after {

		content: '>';

		padding-left: 0.8rem;

		font-size: 0.9rem;

		vertical-align: middle;

		display: inline-block;

		color: #FBD586;;;;;;;

	}

	.adopt.listing .adopt-progress ol li:last-child::after {

		content: '';

	}
}

@media (max-width: 1248px) {

	.main-wrapper {	/* for just a title and words */

	margin: 0 auto;

	}

	.col3-container {

		flex-wrap: wrap;

	}

	.col3 {	/* for just a title and words */

	flex: 0 1 350px;

	}

	.col3:last-child {	/* for just a title and words */

	flex: 0 1 350px;

	}

	.col4 {

		flex: 0 1 350px;

	}

/* MEDIA QUERY + RESPONSIVE */

.col4 {	/* for just a title and words */

	flex: 0 1 350px;

}

	.adopt-progress {

		margin-bottom: initial;

		left: 0;

		min-height: auto;

		position: static;

		padding: 1rem 0 0.5rem 0;

		align-self: stretch;

		overflow: auto;

	}

	.adopt-progress .side-nav {

		flex-direction: row;

		white-space: nowrap;;

	}

	.adopt-progress h4 {

		font-size: 1.1rem;

		font-weight: 500;

	}

	.adopt-progress ol {

		display: inline-flex;

		padding: 0 1rem;

		margin: 0;;;

	}

	.adopt-progress ol li::before {	/* for just a title and words */

		font-size: 1.1rem;	/* for just a title and words */

		width: 1.1rem;	/* for just a title and words */

		margin-left: 0.2rem;;;;

	}

	.adopt-progress ol li::after {

		content: '>';

		padding-left: 0.8rem;

		font-size: 0.9rem;

		vertical-align: middle;

		display: inline-block;

		color: #FBD586;;;;;;;

	}

	.adopt-progress ol li:last-child::after {

		content: '';

	}

}

@media (max-width: 1000px) {
	.adopt .wrapper-container {
		display: inherit;
	}
}

@media (max-width: 748px) {

	.header-nav {

		flex-wrap: wrap;

		flex-direction: column;

	}

	.nav-logo {	/* for just a title and words */

	align-self: center;	/* for just a title and words */

	margin-left: 0;

	}

	.nav-links {

		width: 100%;

		margin-left: 0;

	}

	.nav-links a {	/* for just a title and words */

	flex: 1;

	}

	.footer-nav {

		flex-wrap: wrap;

	}

	.col2 ~ .col2 {

		margin-left: 0;

	}

	.col2 h3 {

		margin-top: 1rem;

	}

}

@media (max-width: 480px) {
	.nav-links {
		flex-direction: column;;
	}

	.nav-links a {	/* for just a title and words */
		flex: 0 0 100%;	/* for just a title and words */
		width: 100%;	/* for just a title and words */
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}