/* GRID OVERLAY */



.overlay-grid {
	visibility: hidden;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	/*visibility: hidden;*/
	visibility: hidden;
}

.overlay-grid-unit {
	height: 100%;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.04);
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	flex: 1;
}


/* HEADER + NAV + FOOTER */

.mini-header {
	display: flex;
	height: 1.4rem;
	background: #575757;
}

.mini-header a {
	margin-left: auto;
	margin-right: 1rem;
	padding: 0.1rem;
	font-size: 0.9rem;
	color: white;
	text-decoration: none;
}

.mini-header a:hover, a:focus {
	color: #DCDCDC;
}

.header-nav {
	display: flex;
	background: white;
}

.header-nav a {
	display: flex;
	align-items: center;
	color: #434343;
	text-decoration: none;
}

.header-nav a:focus, a:hover {
	color: #EFBB4F;
}

.nav-logo {
	flex: 4;
	display: flex;
	align-items: center;
	margin-left: 5rem;
}

.nav-logo-type {
	padding-right: 1rem;
	color: #434343;
}

.nav-logo-img {
	margin-right: 1rem;
	background: #bcbcbc;
	max-height: 50px;;;
}

.nav-links {
	justify-content: flex-end;
	margin-right: 13%;
	margin-left: auto;
	display: flex;
	flex: 8 0 auto;
}

.nav-links a {
	display: block;
	background: white;
	color: #434343;
	text-decoration: none;
	padding: 1rem 1.5rem;

}

.nav-links a:hover, a:focus {
	color: #EFBB4F;
}

.footer-container {
	justify-content: center;
	background: #575757;
	padding: 2.1rem 1rem;
	padding-bottom: 2rem;
	display: flex;
}

.footer-nav {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

}

.footer-item {
	flex: 1;
}



/* BANNER */

.banner {
	position: relative;;
	height: 400px;
	overflow: hidden;
	display: flex;
	align-items: center;;;;
}

.banner-img  {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	opacity: 0.9;
}

.banner-text {
	border-radius: 0.3rem;
	background: rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	border: 2px solid rgba(0, 0, 0, 0.02);
	padding: 0.9rem 2.8rem;
	width: 25rem;
	position: absolute;
	left: calc(100% / 6);;
}

.banner-text h1 {
	color: white;;
}

.banner-button {
	position: relative;
	background: white;;
	font-size: 0.5rem;
	padding: 0.75rem 1rem;
	right: 0;;;;;;;;
}



/* FONT + TYPE STYLING */

body {
	font-family: 'Roboto', sans-serif;
	color: #434343;
}
em {
	font-weight: bold;
	font-size: 2em;
	font-style: normal;;;;
}

.h2-no-section {
	margin-left: 1.5rem;
}

h4 {
	color: #FBD586;
}

.standalone {
	background: #FBD586;
	padding: 1rem 1.5rem;
	border-radius: 0.3rem;
}



/* MAIN CONTENT */

.wrapper-container {
	display: flex;
	justify-content: center;
}

.main-wrapper {
	background: #FFFBEC;
	padding: 4rem 5rem;
	display: flex;
	margin: 0 calc(100% / 6);
	flex-direction: column;
	/*width: 1240px;*/
}

aside {
	background: #575757;
	position: absolute;
	flex: 1;
	left: 3rem;
	top: 10rem;
	min-height: 20rem;
	padding: 0.75rem;
}

.side-nav {
	display: flex;
	flex-direction: column;
}

.side-nav{
	padding: 0.75rem;
}

.side-nav p {
	margin-left: 1.5rem;
}

.side-nav h4 {
	padding-left: 1.5rem;
	font-size: 1.2rem;
}

ol {
  list-style-type: decimal;
}

ol.number {
  list-style: none;
  counter-reset: li
}

ol.number li::before {
  content: counter(li) ".";
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
  font-size: 0.9rem;
  color: white;
}

ol.number li {
  counter-increment: li
}

li {
  color: white;
  padding: .5rem .7rem;
  font-weight: lighter;
  font-size: 1.15rem;
}


section {
	margin-bottom: 2rem;
}



/* INTERACTIVE ELEMENTS */

.button {
  color: #FFF;
  background-color: #434343;
  border: solid;
  border-color: #434343;
  border-width: 1px;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.05rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 0.9rem;
}

.button:hover, .button:focus {
  background-color: #575757;
  color: #FFF;
  border-color: #575757;
}

.text-link {
  text-decoration: none;
  color: white;
}

.text-link:hover, .text-link:focus {
  text-decoration: none;
  color: #DCDCDC;
}

.right {
	float: right;
}

.section-adopt-region {
	justify-content: space-around;
}

.form-region {
	margin: 1rem 2rem;
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

label {
	display: block;
	margin-bottom: 0.3rem;
}

.checkbox-garden {
	position: relative;
}

.label-garden {
	display: inline;
}

.input-zipcode {
	margin-top: 1rem;
	margin-right: 2rem;
}

input[type="text"] {
  display: block;
  padding-bottom: 0.8rem;
  padding-left: .5rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: #434343;
  padding-top: 0.8rem;
}

.adopt-region-submit {
	position: absolute;
	left: 0;
	top: 6rem;
}

textarea {
	display: block;
  	padding: 1rem;
  	box-sizing: border-box;
  	font-size: 1rem;
  	color: #434343;
	min-width: 100%;
	width: 450px;
	height: 350px;
	margin-bottom: 1.5rem;
	resize: none;
}

.contact-us-text-input {
	margin-bottom: 1rem;
}