/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/


body {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #FFCC99;
  padding: 0.5em 0.75em;
}

.wireframe_elements {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  height: auto;
  max-width: 100%
}

h4 {
  font-weight: normal;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation buttons */
.button-nav {
  display: inline-block;
  padding: 0.9rem 1.7rem;
  margin-left: 1rem;
  color: #FFF;
  background-color: #394B46;
  border: solid;
  border-width: 1px;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  color: #394B46;
  background-color: #FFF;
  border: solid;
  border-width: 1px;
}


/* Styling for test input field */
input {
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: #394B46;
}

/* Styling for in-text links */
.text-link {
  text-decoration: none;
  color: #169BD5;
}

.text-link:hover, .text-link:focus {
  font-weight: bold;
}


/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for headers */
h1 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 1rem;
  color: #394B46;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 1rem;
  padding-top: 2rem;
  color: #394B46;
  margin: 0;
}

.h3-header {
  font-size: 2rem;
  font-weight: lighter;
  padding: 1rem;
  padding-top: 2rem;
  color: #394B46;
  margin: 0;
}

/* Styling for paragraphs */

p {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #394B46;
  background-color: #F2F2F2;
  padding: 1rem;

}

.link-p {
  display: inline-block;
}

/* Styling for lists */

ul {
  list-style-type: circle;
  background-color: #F2F2F2;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 50%;

}

ol {
  list-style-type: decimal;
  background-color: #F2F2F2;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 50%;
}

li {
  color: #394B46;
  padding: .7rem;
  font-weight: lighter;
  font-size: 1.2rem;
}



/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for navigation */

.nav-main-item {
  display: inline-block;
  padding: 0.9rem 2.5rem;
  margin-right: .5rem;
  margin-bottom: 0.5rem;
  color: #394B46;
  background-color: #FFF;
  border: solid;
  border-width: 1px;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.3rem;
  transition: background-color 0.5s ease-out;
}

.nav-main-item:hover, .nav-main-item:focus {
  color: #FFF;
  background-color: #394B46;
}


/* Styling for product listing */

figure {
  margin: 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  background-color: #F9BE50;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.box-item-image {
  display: flex;
  flex: 1 1 450px;
  padding: 0 1rem;
}

.box-item-text {
  flex: 5 1 18rem;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 1rem;
  background-color: #F2F2F2;
}

/*
hr {
  display: block;
  width: 100%; 
  border-width: 0.5px;
  background-color: #394B46;
}
*/


/* Styling for grid structure */

.container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 1;
  height: 40rem;
}

.grid-item:nth-of-type(even) {
  background-color: #F2F2F2;
  color: #F9BE50;
}

.grid-item:nth-of-type(odd) {
  background-color: #F9BE50;
  color: #F2F2F2;
}


/* Styling for color swatches */

.grey-font {
  color: black;
  background: #F2F2F2;
  font-size: 2rem;
  padding-top: 1rem;
  margin-top: 1rem;
}

.navy-green-font {
  color: white;
  background: #394b46;
  font-size: 2rem;
  padding-top: 1rem;
}

.yellow-font {
  color: white;
  background: #F9BE50;
  font-size: 2rem;
  padding-top: 1rem;
}
